body{
    background-color:black!important;
}

.tableHead th{
    font-size: 20px;
    color:white;
    background-color:#3a8594;
    border:0px;
}
.tableData{
    background-color:#3a8594;
    color:white;
}
table table-bordered{
border:0px;
}
.rang{
    color:white;
}
.notesLink{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.row.linkRow{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.center{
    margin-top: 30px;
}